{% extends "Global/luminous/layout.html.twig" %}

{% if app.request.locale == "ar" %}
    {% set locale = "en" %}
{% else %}
    {% set locale = app.request.locale %}
{% endif %}

{% set pagetitle = 'Set Password'|trans({}, 'messages') %}
{% block title %}{{pagetitle}}{% endblock %}

{% block content %}
    <section class="hero-section">
        <div class="container">
            <div class="necesitas-section">
                <div class="row align-items-center gy-4 justify-content-center">
                    <div class="col-lg-6 col-12">
                        <div class="necesitas-title">
                            <span>Todas las <strong>experiencias</strong> de los <strong>grandes públicos</strong> en un
                                mismo espacio.</span>
                        </div>
                        <div class="necesitas-log-in-image">
                            <img src="{{ asset('assets/ll_assets/assets/img/Girl Black.png') }}" alt="">
                        </div>
                    </div>

                    <div class="col-lg-1"></div>

                    <div class="col-lg-5 col-md-6 col-12">
                        <div class="panel panel-default">
                            <div class="necesitas-registration-heading">
                                <p>{{ "Hay, "|trans({}, "messages", locale) }} <span class="font-weight: 600; font-size:24px;">{{ user.firstname }} {{ user.lastname }}</span></p>
                                <p style="font-weight: 200;font-size: 16px;letter-spacing: 1px;">{{ "Correo electrónico- "|trans({}, "messages", locale) }} {{ user.email }}</p>
                                <p style="color: red;font-weight: 300;font-size: 16px;letter-spacing: 1px;">Por favor establezca su contraseña</p>
                            </div>
                            <div class="panel-body">

                                <form class="form-horizontal necesitas-registration-fromd" method="post" action="{{ path('set_password') }}">

                                    {% if csrf_token %}
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                    {% endif %}

                                    <div class="form-group">
                                        <div class="col-md-10 offset-1">
                                            <label class="control-label">Cpntrasena</label>
                                            <div class=" d-flex login-password">

                                                <input id="password-field" type="password" class="form-control"
                                                    name="_password" value="secret" autocomplete="password"
                                                    placeholder="Escribe tu cotrasena">

                                                <span toggle="#password-field"
                                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-10 offset-1">
                                            <label class="control-label">Repita la Cpntrasena</label>
                                            <div class=" d-flex login-password">

                                                <input id="password-field" type="password" class="form-control"
                                                    name="_confirm-password" value="secret" autocomplete="current-password"
                                                    placeholder="Escribe tu cotrasena">

                                                <span toggle="#password-field"
                                                    class="fa fa-fw fa-eye field-icon toggle-password"></span>
                                            </div>
                                        </div>
                                    </div>

                                    {% if app.request.get('_target_path') is not null %}
                                    <input type="hidden" name="_target_path"
                                        value="{{ app.request.get('_target_path') }}" />
                                    {% endif %}
                                    <input id="" type="hidden" class="form-control"
                                    name="ud" value="{{ user.slug}}" placeholder="">

                                    <div class="form-group Ingresar-button">
                                        <div class=" offset-1 login-page">
                                            <button type="submit" class="col-md-10 col-10 btn btn-outline-info">Ingresar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}